$accent: #4931A8;
$header_height: 250px;
$thead_height: 71px;

*{
    box-sizing: border-box;
    font-family: "Walfork";
    margin: 0;
    padding: 0;
}
html,body{ 
    background: #dddddd;
}

header{
    height: $header_height;
    background: darken($accent, 5);
    color: white;  

    input[type="search"]{
        background: none;
        margin: 50px auto;
        max-width: 1300px;
        outline: none;
        border: none; 
        color: white;
        font-weight: 600;
        font-family: "Walfork";
        font-size: 50px;
        padding: 30px 100px;

        &::placeholder{
            color: rgba(white,0.3);
        }
        &::-webkit-search-cancel-button {
            display: none;
        }
    }
}

table{
    margin: 50px auto;
    margin-top: -$thead_height;
    max-width: 1300px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 13px;
    background: white;
    thead{
        background-color: $accent;
        color: white;
        text-transform: uppercase;
        text-align: left;
        th{
            padding: 30px 0px 25px 20px;
        }
    }
    tbody{
        tr{ 
            transition: 0.1s;
            &:first-child:hover td{
                background: none;
            }
            &:nth-child(odd){
                background-color: rgba(black,0.05);
            }
            &:hover td{
                background-color: #ddd; 
            }
            & td:nth-child(1){
                padding-left: 40px;
            }
            td{
                margin: 0;                
                padding: 8px 10px 8px 30px;          
                font-size: 13px; 
                span{
                    display: flex; 
                    align-content: center;
                    align-items: center;                    
                }
                i{ 
                    opacity: 0.5;
                }
            }
        }
    }
}


.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
} 
  
.card-2 {
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
  
.card-3 {
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
  
.card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
  
.card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
